.tab_container {
  width: 100%;
  max-width: 510px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab_active_item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: black;
  border-bottom: 3px solid blue;
  padding: 5px;
  margin-right: 14px;
}

.tab_item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: black;
  padding: 5px;
  margin-right: 14px;
}

.tab_body {
  display: block;
  order: 1;
  width: 100%;
  height: fit-content;
  border-top: 1px solid gray;
  padding-top: 15px;
}
